/*
Name       :Brendon King
Class      :CS 2550
Title      :Battleship
Version    :Version 02
Description:Semester project for CS 2550 at Utah Valley University.
*/

body {
    background: white;
}

.column {
    float: left;
    width: 50%;
}

.grid {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.controls {
    text-align:justify;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 1px;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
    background: gray;
    border: black;
}

button {
    height: 25px;
    width: 150px;
    padding-left: 5px;
}

h1 {
    font-family: 'Ubuntu'
}

h2 {
    background: darkgray;
    font-family: 'Ubuntu'
}

h3 {
    background: black;
    color: white;
    font-family: 'Ubuntu'
}

h4 {

    text-align: center;
    background: black;
    color: white;
    font-family: 'Ubuntu'
}

p {
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Ubuntu'
}

ol {
    font-family: 'Ubuntu'
}

img {
    border-color: black;
}

caption {
    font-family: 'Ubuntu'
}

td, th {
    table-layout: fixed;
    text-align: center;
    border:1px solid black;
    border-width: 1px;
    width: 50px;
    height: 50px;
    font-family: 'Ubuntu'
}

td:hover {
    background-color:green;
}

.hit {
    background-color:red;
}

.ship {
    background-color:lightgray;
}

.miss {
    background-color:blue;
}
